<div class="offcanvas-body p-3 p-xl-0">
    <div class="bg-dark border rounded-3 p-3 w-100">
        <!-- Dashboard menu -->
        <div class="list-group list-group-dark list-group-borderless collapse-list">

            @Html.ActionLink("داشبورد", "Dashboard", "User", new { area = "User" }, new { @class = "list-group-item" })
            <a asp-area="User" asp-controller="ManageSkill" asp-action="SkillIndex" class="list-group-item">مدیریت تخصص ها </a>
@*             <a asp-area="User" asp-controller="ManageSkill" asp-action="List" class="list-group-item"> مدیریت تخصص ها </a>
 *@            @Html.ActionLink("مدیریت سطح تخصص", "SkillLevelList", "ManageSkill", new { area = "User" }, new { @class = "list-group-item" })
            @* <a asp-area="User" asp-controller="ManageSkill" asp-action="List" class="list-group-item"> مدیریت سطح تخصص </a> *@
            <a asp-area="User" asp-controller="ManageSkill" asp-action="MySkillsList" class="list-group-item">تخصص های من </a>

            <a asp-area="User" asp-controller="Blog" asp-action="BlogList" class="list-group-item">مقالات</a>
            <a asp-area="User" asp-controller="ManageAboutMe" asp-action="Index" class="list-group-item"> درباره من </a>

            <a asp-area="User" asp-controller="ManageDocument" asp-action="Index" class="list-group-item">مدارک های من </a>


            @Html.ActionLink("ورود به سایت", "Index", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink("خروج", "Logout", "Account", null, new { @class = "list-group-item text-danger bg-danger-soft-hover" })
            @Html.ActionLink("حذف پروفایل", "DeleteProfile", "User", new { area = "User" }, new { @class = "list-group-item text-danger bg-danger-soft-hover" })
                     
        </div>
    </div>
</div>