<div class="offcanvas-body p-3 p-xl-0">
    <div class="bg-dark border rounded-3 p-3 w-100">
        <!-- Dashboard menu -->
        <div class="list-group list-group-dark list-group-borderless collapse-list">

            @Html.ActionLink("داشبورد", "Dashboard", "User", new { area = "User" }, new { @class = "list-group-item" })
            <a asp-area="User" asp-controller="ManageExpertise" asp-action="AddExperiences" class="list-group-item">مدیریت تخصص ها </a>
            <a asp-area="User" asp-controller="ManageExpertise" asp-action="List" class="list-group-item"> مدیریت تخصص ها </a>
            @Html.ActionLink("مدیریت سطح تخصص", "List", "ManageExpertise", new { area = "User" }, new { @class = "list-group-item" })
            @* <a asp-area="User" asp-controller="ManageExpertise" asp-action="List" class="list-group-item"> مدیریت سطح تخصص </a> *@

            @Html.ActionLink("ورود به سایت", "Index", "Home", null, new { @class = "list-group-item" })
            @Html.ActionLink("خروج", "Logout", "Account", null, new { @class = "list-group-item text-danger bg-danger-soft-hover" })
            @Html.ActionLink("حذف پروفایل", "DeleteProfile", "User", new { area = "User" }, new { @class = "list-group-item text-danger bg-danger-soft-hover" })

            @* 	<!-- Collapse menu -->
			<a class="list-group-item" data-bs-toggle="collapse" href="#collapseauthentication" role="button" aria-expanded="false" aria-controls="collapseauthentication">
				<i class="bi bi-lock fa-fw me-2"></i>زیر منو
			</a>
			<!-- Submenu -->
			<ul class="nav collapse flex-column" id="collapseauthentication" data-bs-parent="#navbar-sidebar">
				<li class="nav-item"> <a class="nav-link" href="#">عنوان 1</a></li>
				<li class="nav-item"> <a class="nav-link" href="#">عنوان 2</a></li>
			</ul> *@
        </div>
    </div>
</div>